body,html {
    padding:0px !important;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
 
}

body {
    position: relative;
}

* {
    box-sizing: border-box !important;
}

#firstdiv {
    margin: auto !important;
    padding:0;
    height: 100vh;
    width: 100vw;
    background-image: url("images/arkaplan.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1 , #div2 , #div3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    width: 100vw;
}

#div1 {
    margin: auto;
    margin-top:10px;
    height: 500px;
    background-color:black;

}

#div2 {
    margin: auto;
    margin-top: 10px;
    height: 500px;
    background-color:black;

}

#div3 {
    margin: auto;
    margin-top: 10px;
    height: 500px;
    background-color:black;

}


h1 {
    margin: auto;
    font-size:60px;
    letter-spacing: 3px;
    color:white;
    text-align: center;
}

p {
    margin: auto;
    text-align: center;
    margin-top:10px;
    font-size:20px;
    letter-spacing: 3px;
    color:white;
}

h1.firstdivh1 {
    margin: auto;
    display: block;
    background-color: white;
    color: black;
    padding: 5px;
    width: 500px;
    font-size: 16px;
    letter-spacing: 4px;
}